{% extends 'src/partials/layout.njk' %}
{% block content %}
    <div class="w-full h-screen">
        <div class="absolute top-auto w-full h-screen bg-[url('/public/header.png')] brightness-40"></div>
        <div class="relative z-10 text-white pt-96 ml-24">
            <div class="text-6xl font-primary">
                <p class="mb-6">Professional eports team
                    <span class="uppercase text-primary">Undead Seekers</span>
                </p>
                <p class="font-secondary text-8xl capitalize">From beyond the grave,</p>
                <p class="font-secondary text-8xl capitalize mb-12">
                    We
                    <span class="text-primary">play to win</span>.
                </p>
            </div>
            <div class="flex z-10 font-primary text-2xl space-x-6">
                <button class="flex items-center border-2 border-white rounded-xl py-2 px-16 hover:bg-white hover:text-primary">
                    <i class="nf nf-fa-youtube me-4"></i>Meet the team</button>
                <button class="flex items-center border-2 border-white rounded-xl py-2 px-16 hover:bg-white hover:text-primary">
                    <i class="nf nf-md-cart me-4"></i>Merch store</button>
            </div>
        </div>
    </div>
    <div class="w-full h-screen">
        <div class="absolute w-full top-auto bg-cover bg-[url('/public/background.gif')] h-full brightness-40"></div>
        <div class="relative z-10 h-full mx-24 text-white flex items-center gap-6">
            <img class="rounded-xl" src="https://picsum.photos/seed/kaspar/845/514">
            <div class="font-primary flex flex-col gap-6">
                <h1 class="text-6xl">Who are we?</h1>
                <p class="text-3xl">
                    Welcome to Undead Seekers, where we rise from the shadows to dominate the esports arena. As a team forged in
                    determination and skill, we bring unmatched strategy and execution to every game. Our passion for gaming drives us to
                    set new standards in competitive esports.
                </p>
                <p class="text-3xl">
                    Founded by dedicated gamers, Undead Seekers values teamwork, perseverance, and excellence. Our diverse members unite
                    with a common goal: to be the best.
                </p>
                <p class="text-3xl">
                    Join us on this epic journey. Whether you're a fan, fellow gamer, or potential partner, we're excited to have you with
                    us. Together, we are the Undead Seekers—unrelenting, unstoppable, and always hungry for victory.
                </p>
                <button class="text-2xl w-48 border-2 border-white rounded-xl py-2 px-8 hover:bg-white hover:text-primary">Read more</button>
            </div>
        </div>
    </div>
    <div class="bg-black font-primary text-center py-16">
        <h1 class="text-6xl text-white font-primary mb-4">Our top team players</h1>
        <div class="mx-24 grid grid-cols-5 gap-8 ">
            <div class="h-[500px]">
                <div class="absolute rounded-xl h-[500px] w-[320px] bg-[url('https://picsum.photos/seed/kaspar/320/500')]"></div>
                <div class="absolute rounded-xl h-[500px] w-[320px] bg-gradient-to-b from-transparent to-primary hover:bg-black
                    hover:to-transparent hover:opacity-90 transition-all duration-300"></div>
                <div class="relative z-10 mt-8">
                    <div class="px-16 mb-60">
                        <div class=" bg-gray-200 rounded-full h-2.5 mb-4 dark:bg-gray-700">
                            <div class="bg-blue-600 h-2.5 rounded-full" style="width: 45%"></div>
                        </div>
                        <div class=" bg-gray-200 rounded-full h-2.5 mb-4 dark:bg-gray-700">
                            <div class="bg-blue-600 h-2.5 rounded-full" style="width: 45%"></div>
                        </div>
                        <div class=" bg-gray-200 rounded-full h-2.5 mb-4 dark:bg-gray-700">
                            <div class="bg-blue-600 h-2.5 rounded-full" style="width: 45%"></div>
                        </div>
                        <div class=" bg-gray-200 rounded-full h-2.5 mb-4 dark:bg-gray-700">
                            <div class="bg-blue-600 h-2.5 rounded-full" style="width: 45%"></div>
                        </div>
                        <div class=" bg-gray-200 rounded-full h-2.5 mb-4 dark:bg-gray-700">
                            <div class="bg-blue-600 h-2.5 rounded-full" style="width: 45%"></div>
                        </div>
                    </div>
                    <h3 class="text-white text-2xl">CS2</h3>
                    <h1 class="text-white text-6xl">Gr1m</h1>
                </div>
            </div>
            <div class="h-[500px]">
                <div class="absolute rounded-xl h-[500px] w-[320px] bg-[url('https://picsum.photos/seed/kaspar/320/500')]"></div>
                <div class="absolute rounded-xl h-[500px] w-[320px] bg-gradient-to-b from-transparent to-primary hover:bg-black
                    hover:to-transparent hover:opacity-90 transition-all duration-300"></div>
                <div class="relative z-10 mt-96">
                    <h3 class="text-white text-2xl">League Of Legends</h3>
                    <h1 class="text-white text-6xl">Ph2ntom</h1>
                </div>
            </div>
            <div class="h-[500px]">
                <div class="absolute rounded-xl h-[500px] w-[320px] bg-[url('https://picsum.photos/seed/kaspar/320/500')]"></div>
                <div class="absolute rounded-xl h-[500px] w-[320px] bg-gradient-to-b from-transparent to-primary hover:bg-black
                    hover:to-transparent hover:opacity-90 transition-all duration-300"></div>
                <div class="relative z-10 mt-96">
                    <h3 class="text-white text-2xl">CS2</h3>
                    <h1 class="text-white text-6xl">N1ghty_2k</h1>
                </div>
            </div>
            <div class="h-[500px]">
                <div class="absolute rounded-xl h-[500px] w-[320px] bg-[url('https://picsum.photos/seed/kaspar/320/500')]"></div>
                <div class="absolute rounded-xl h-[500px] w-[320px] bg-gradient-to-b from-transparent to-primary hover:bg-black
                    hover:to-transparent hover:opacity-90 transition-all duration-300"></div>
                <div class="relative z-10 mt-96">
                    <h3 class="text-white text-2xl">PUBG</h3>
                    <h1 class="text-white text-6xl">B3N_WO</h1>
                </div>
            </div>
            <div class="h-[500px]">
                <div class="absolute rounded-xl h-[500px] w-[320px] bg-[url('https://picsum.photos/seed/kaspar/320/500')]"></div>
                <div class="absolute rounded-xl h-[500px] w-[320px] bg-gradient-to-b from-transparent to-primary hover:bg-black
                    hover:to-transparent hover:opacity-90 transition-all duration-300"></div>
                <div class="relative z-10 mt-96">
                    <div>
                        <progress></progress>
                    <progress></progress>
                <progress></progress>
            <progress></progress>
        <progress></progress>
</div>
<h3 class="text-white text-2xl">Valorant</h3>
<h1 class="text-white text-6xl">MAM3A</h1></div></div></div></div>{% endblock %}